.DS_Store
docs/Bayesian-Statistics-The-Fun-Way.pdf

/.quarto/
.Rproj.user/3BA6D164/jobs/76AD133D-output.json
.Rproj.user/3BA6D164/sources/prop/68F60B90
.Rproj.user/3BA6D164/sources/session-38cbc4d1/78279EE5
.Rproj.user/3BA6D164/sources/session-38cbc4d1/78279EE5-contents
.Rproj.user/3BA6D164/sources/session-38cbc4d1/F3973C41
